<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</head>

<body class="container">

  <div id="form">
    <p>Graph</p>
    <canvas id="myChart" width="300" height="150"></canvas>
  </div>

  <script>
    var ctx = document.getElementById('myChart').getContext('2d');

    $.getJSON("/metrics", {}, (data) => {
      const content = data.map(d => { })
      $('#metrics').append(content.join("\n"));
    });


    var x = ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange']
    var y = [12, 19, 3, 5, 2, 3]

    var dta = {
      labels: x,
      datasets: [{
        label: '# of Votes',
        data: y,
        backgroundColor: 'rgba(54, 162, 235, 0.2)',
        borderColor: 'rgba(54, 162, 235, 1)',
        borderWidth: 1
      }]
    }
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: dta,
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  </script>

</body>

</html>