<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body class="container">

  <div id="form">
    <p>Welcome</p>
    <button class="btn btn-success btn-block" type="submit" href="/login" onClick='document.location.href="/login"'>
      Log in to your account
    </button>
    <button class="btn btn-success btn-block" type="submit" href="/signup" onClick='document.location.href="/signup"'>
      Create an account
    </button>
  </div>

</body>

</html>